[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
progress = "*"
markdown = "*"
#notion = {editable = true,path = "./../notion-py"}
notion = "*"
bottle = "*"
python-slugify = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python ./jaja.py"
addnotionpage = "python ./addnotionpage.py"

[dev-packages]
pylint = "*"
